#facture-cadre
{
    border-color: rgba(165, 83, 5, 0.658) ;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid ;
    background-color: rgba(0, 0, 0, 0.349);
    

    position: absolute ;
    top: 1900px ;
    left: 400px ;
    margin-bottom: 150px ;

    width: 50% ;
    height: 900px ;

    display: none ; 

}

#facture-titre1
{

    position: absolute ;
    top: 35px ;
    left: 285px ;

}

#facture-list
{
    position: absolute;
    top: 135px ;
    left: 95px ;

    border-color: rgba(165, 83, 5, 0.658) ;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid ;
    background-color: rgba(245, 222, 179, 0.829);

    color: rgb(80, 39, 1) ;

    width: 75% ;
    height: 700px ;

}

#info-client
{
    position: absolute;
    top: 35px ;
    left: 40px ;

    padding-left: 20px;
    padding-top: 13px;

    line-height: 27px;

    width: 85% ;
    height: 31% ;
    border-style: dotted ;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(80, 39, 1, 0.329);

}

#nom-client
{
    position: absolute;
    top: 51px ;
    left: 85px ;

    width: 65% ;
    height: 16% ;
   
}

#prenom-client
{
    position: absolute;
    top: 78px ;
    left: 105px ;

    width: 65% ;
    height: 16% ;
    
}

#age-client
{
    position: absolute;
    top: 105px ;
    left: 85px ;

    width: 65% ;
    height: 16% ;
    
}

#sexe-client
{
    position: absolute;
    top: 132px ;
    left: 85px ;

    width: 65% ;
    height: 16% ;
}

#total
{
    position: absolute ;
    top: 570px;
}




#t1
{
    position: absolute;
    top: 200px ;
    left: 40px ;

    text-decoration: underline ;
}

#t2
{
    position: absolute;
    top: 320px ;
    left: 40px ;

    text-decoration: underline ;
}

#t3
{
    position: absolute;
    top: 440px ;
    left: 40px ;

    text-decoration: underline ;
}




#p1
{
    position: absolute;
    top: 250px ;

    width: 70% ;
    height: 16%;
}

#p2
{
    position: absolute;
    top: 370px ;

    width: 70% ;
    height: 16% ;
}

#p3
{
    position: absolute;
    top: 490px ;

    width: 70% ;
    height: 16% ;
}

#ps
{
    position: absolute;
    top: 573px ;
    left: 100px;

    width: 30% ;
    height: 16% ;

    padding-left: 80px;
    font-weight: bold ;
}



#s1
{
    position: absolute;
    top: 250px ;
    left: 350px ;

    width: 20% ;
    height: 16%;
}

#s2
{
    position: absolute;
    top: 370px ;
    left: 350px ;

    width: 20% ;
    height: 16% ;
}

#s3
{
    position: absolute;
    top: 490px ;
    left: 350px ;

    width: 20% ;
    height: 16% ;
}

#s4
{
    position: absolute;
    top: 568px ;
    left: 240px;

    width: 18% ;
    height: 16% ;

    font-weight: bold ;
    font-size: 20px ;
}